<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <connectionStrings>
  
    <add name="MEDSD" connectionString="Dsn=MEDSD"/>
    <add name="Site" connectionString="SVH"/>
     <!--<add name="Site" connectionString="SNH"/>-->
    <add name="DBConnectionString" connectionString="Data Source=10.104.13.11;Initial Catalog=CPOE_ORDERITM;User Id=osa;Password=osa;" providerName="System.Data.SqlClient"/>
    <!--<add name="DBConnectionString" connectionString="Data Source=SNH-KRIT-NB\KRITSQL;Initial Catalog=CPOE_ORDERITM;User Id=sa;Password=123456;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
