<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime />
	</system.web>
  <appSettings>
    <!--<add key="Conn" value="Data Source=Neeranuch7215;Initial Catalog=FloorPlan;User ID=sa;Password=1234" />-->
    <add key="Conn" value="Data Source=10.104.13.11;Initial Catalog=CPOE_ORDERITM;User ID=osa;Password=osa" />
    <!--<add key="Conn" value="Data Source=SNH-KRIT-NB\KRITSQL;Initial Catalog=CPOE_ORDERITM;User ID=sa;Password=123456" />-->
    
    <add key="Trakcare" value="Dsn=PROD-TRAK" />
    <add key ="MedDay" value="http://10.104.10.45/FloorPlanOrder/FloorPlanOrder?epirowid="/>
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="frmData.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
